<html ng-app="myApp">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>
        Filter
    </title>
    <body ng-controller="userCtrl">
        <div>
            <div class="col-md-12">
                <form ng-submit="onSubmit()">
                    <input type="text" placeholder="Filter by name" class="col-md-2" ng-model="name"/>
                    <input type="text" placeholder="Filter by email" class="col-md-2" ng-model="email"/>
                    <input type="text" placeholder="Filter by website" class="col-md-2" ng-model="website"/>
                    <input type="text" placeholder="Filter by city" class="col-md-2" ng-model="city"/>
                    <input type="submit" value="submit" class="col-md-2" />
                    <input type="reset" value="Reset" class="col-md-2" />
                </form>
            </div>
            <div class="col-md-12">
                <span class="col-md-3">
                    Name:
                </span>
                <span class="col-md-3">
                    Email:
                </span>
                <span class="col-md-3">
                    Website:
                </span>
                <span class="col-md-3">
                    City:
                </span>
            </div>
            <div ng-repeat = "user in users" class="col-md-12">
                <div class="col-md-3">
                    {{user.name}}
                </div>
                <div class="col-md-3">
                    {{user.email}}
                </div>
                <div class="col-md-3">
                    {{user.website}}
                </div>
                <div class="col-md-3">
                    {{user.address.city}}
                </div>
            </div>
        </div>
    </body>
    <link rel="stylesheet" href="style.css" />
    <script src="app.js"></script>
</html>